/* ---------- GENERAL SETUP ---------- */
* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ADD BOOK BUTTON */
#add-book-btn {
    padding: 1rem;
    border: none;
    border-radius: 15px;
    background-color: blue;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgb(42, 120, 165);
    cursor: pointer;
}

#add-book-btn:hover {
    background-color: rgb(41, 105, 223);
}

/* FORM */
.book-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    margin-top: 2rem;
    background-color: bisque;
    padding: 2rem;
    border-radius: 15px;
}

.book-form label {
    font-size: 1.3rem;
    font-weight: 550;
}

.book-form input[type='text'] {
    width: 100%;
}


.book-form .read-checkbox {
    display: flex;
    gap: 1rem;
    border: none;
}

form #submit-button {
    background-color: rgba(10, 1, 1, 0.192);
    border: none;
    border-radius: 15px;
    width: fit-content;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

form div {
    display: flex;
    justify-content: center;
}

